* {
    margin: 0mm;
    padding: 0mm;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Urbanist", sans-serif;
  }
  
  /*Header*/
  header {
    background: rgb(218, 165, 32);
    background: linear-gradient(
      135deg,
      rgba(218, 165, 32, 1) 0%,
      rgba(217, 195, 139, 1) 100%
    );
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
  }
  
  /*Menu*/
  .nav {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem 1.5rem 6rem;
    width: 100%;
  }
  
  .ul {
    display: flex;
    width: 50%;
    justify-content: space-between;
  }
  
  .logo {
    color: white;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 1.1rem;
  }
  
  .liPortada {
    color: white;
  }
  
  /*Sección*/
  
  .imagenPortada {
    height: 80vh;
    background-image: url(../assets/Panorama.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
  }
  
  .imagenCaja {
    padding-top: 10ren;
    width: 80%;
    margin-left: 6rem;
    margin-top: 9rem;
    color: white;
  }
  
  h1 {
    font-size: 3.5rem;
  }
  
  /*Sección*/
  /* main{
      padding: 3rem;
      background-color: black;
    } */
  
  .sectionCaja1 {
    grid-area: caja1;
    color: white;
    /* display: flex;
      justify-content: space-between; */
  }
  
  .sectionCaja2 {
    grid-area: caja2;
  }
  
  .sectionCaja3 {
    grid-area: caja3;
  }
  
  .sectionCaj4 {
    grid-area: caja4;
  }
  
  .sectionCaja1-box {
    width: 30%;
  }
  
  .sectionCaja1-p {
    width: 100%;
  }
  
  .sectionArticle-caja {
    margin: 15px;
  }
  
  /* .sectionArticle-caja{
      width: 25%;
    } */
  
  .sectionArticle-cajaCriptomonedas {
    background-color: goldenrod;
    height: 18rem;
    border-radius: 10px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }
  
  .parrafoCaja {
    color: white;
  }
  
  /*Pie de Página*/
footer {
  width: 100%;
  position: relative;
  bottom: 0;
  padding: 15px;
  background: rgb(218, 165, 32);
    background: linear-gradient(
      135deg,
      rgba(218, 165, 32, 1) 0%,
      rgba(217, 195, 139, 1) 100%
    );
  .container {
    margin: 15px;
    max-width: 100%;
  }
}

.logoFooter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 90px;
  margin: 10px;
}

.criptoCba {
  width: 200px;
}

@media (max-width: 768px) {
  .criptoCba {
    display: none;
  }
}

.copyrigth {
  margin: 15px 0;
  display: flex;
  justify-content: center;
}

h6 {
  color: white;
  font-size: 17px;
  font-weight: 400;
  line-height: 1.5em;
}

.date {
  font-size: 0.8rem;
}

/*Pie de Página*/

  .section-principal {
    padding: 3rem;
    background-color: black;
  }
  
  .img-container {
    padding: 15px;
  }
  
  .img-container img {
    width: 100%;
    height: 100%;
    transition: height 1s, width 1s;
  }
  
  .text-container {
    padding: 15px;
  }
  
  @media only screen and (min-width: 768px) {
    .section-principal {
      display: grid;
      grid-template-areas:
        "caja1 caja1 caja1"
        "caja2 caja3 caja4";
      grid-template-columns: 33% 33% 33%;
    }
  
    .sectionCaja1-p {
      width: 50%;
    }
  }
  
  .img-container img:hover {
    position: relative;
    width: 110%;
    height: 110%;
  }
  
  .italica {
    padding-top: 56px;
  }
  
  .bg-dark {
    background-color: transparent !important;
  }
  
  form {
    padding: 15px 30px;
  }
  
  .form__imput--medium {
    width: 300px;
  }

  .form__imput--large {
    width: 500px;
  }

  .form-label {
    color: white;
  }

  .form__button{
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    margin: .25rem .125rem;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }
  .form__button--submit{
    color: rgb(80, 77, 77);
    background-color: goldenrod;
    border-color: goldenrod;
  }
  .form__button--reset{
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
  }

  /* Pagina Cotizacion */
.topSection {
  margin: 80px;
  color: #fff;
  font-style: oblique;
}

.topSection2 {
  margin-top: 80px;
  margin-left: 30px;
  color: #fff;
  font-style: oblique;
}

/* Pagina Cursos */

.linkCursos {
  text-decoration: none;
  color: black;
}

.cursosContainer {
  width: 85vw;
  padding: 15px;
  margin-bottom: 15px;
  .col {
    margin: 15px 0;
    .card {
      background-color: #43414e;
      box-shadow: 0px 0px 14px 3px;
    }
    .card-body {
      background-color: #43414e;
      color: white;
    }
  }
  .col a:hover {
    color: #56545e;
    box-shadow: 0px 0px 14px 3px #56545e;
  }
}

.cursosCenter {
  display: flex;
  justify-content: center;
}

/* iframe cotización */

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  margin:5rem 5rem 5rem 5rem;
}
.embed-container iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

.tablaCotizacion {
  margin:5rem 5rem 5rem 5rem;
}

.body {
  background-color: #212529;
}
